<p id="notice"><%= notice %></p>

<h1>Listing Movies</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Image</th>
      <th>Desc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= image_tag "#{movie.image_url}",  height: '150', width: '200'  %></td>
        <td><%= movie.desc %></td>
        <td><%= link_to 'Show', movie %></td>
        <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
        <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <!-- <td><%= link_to "보기",movie_path(movie.id) %></td> -->
      </tr>
    <%end%>
  </tbody>
</table>

<br>
<%= paginate @movies %><br>
<%= link_to 'New Movie', new_movie_path %>
